<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>order</key>
		<dict/>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>order</key>
		<dict>
			<key>eb63e49eebd0dc04245bd38c87eecb020b8fe1f5cc19f5e50e2b8009855fca3b</key>
			<integer>9789</integer>
		</dict>
	</dict>
</dict>
</plist>
